language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '7'
  - '6'
  - '4'
notifications:
  email: false
before_script:
  - npm prune
script:
  - npm run test
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
